@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  cursor: none;
  background-color: #202020;
  color: #ffffff;
  overflow-x: hidden;
}

::selection {
  background-color: #FF355E;
  color: white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #111111;
  border-left: 1px solid #333;
}
::-webkit-scrollbar-thumb {
  background: #FFD60A; 
  border: 2px solid #111111;
}
::-webkit-scrollbar-thumb:hover {
  background: #FF355E; 
}

.comic-border {
  border: 6px solid #000000;
}

.chip-clip {
  clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
}